/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/backup
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/cache
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/cgi-bin
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/config.db.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/config.inc.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/config.performance.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/config.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/config.template.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/connection.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/copyright.html
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/Copyright.txt
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/cron
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/data
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/Detail.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/error_log
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/favicon.ico
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/forgotPassword.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/htaccess.txt
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/include
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/includes
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/index.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/kcfinder
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/languages
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/layouts
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/libraries
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/licenceAgreement.html
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/license
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/LICENSE.txt
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/Lock.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/log4php.properties
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/modules
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/packages
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/parent_tabdata.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/PEAR.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/phpversionfail.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/pkg
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/Potentials.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/README.txt
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/Release_Notes.html
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/resources
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/robots.txt
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/schema
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/SendSupportNotification.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/settings
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/shorturl.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/soap
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/SPL-1.1.2.txt
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/storage
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/tabdata.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/test
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/user_privileges
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/vtigercron.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/vtigerservice.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/vtigerversion.php
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/vtlib
/Users/juanmacortes/Dropbox/jmc/J+25/Can2.0/webservice.php